dl.inline dt, dl.inline dd {
    float: left;
    margin: auto;
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}

#projectInfo table{
    width: auto;
    margin-bottom: 5px;
}

#projectInfo{
    
}

#projectContent {
    width: 30%;
}

#employeeTable table {
    margin: auto;
}

#excelExportButton {
    float: right;
    margin-bottom: 8px;
}

#getReportButton {
    float: right;
}

#monthPicker {
    width: auto
}

#yearPicker {
    width: auto
}

#datePanel table{
    width: auto;
}

#datePanel{
    width: 13%;
    margin-left: 5px;
}


#getSecondReport{
    float: right;
}

#firstReportSpinner{
    margin-left: 550px;
}