dl.inline dt, dl.inline dd {
    float: left;
    margin: auto;
}

dl.inline dd + dt, dl.inline dd + dd {
    clear: left
}

dl.inline dd + dd {
    float: none
}

#projectInfo table{
    width: auto;
    margin-bottom: 5px;
}

#projectInfo{
    margin-left: 5px;
}

#projectContent {
    width: 30%;
}

#employeeTable table {
    margin: auto;
}

#excelExportButton {
    float: right;
}

#getReportButton {
    float: right;
}

#monthPicker {
    width: auto
}

#yearPicker {
    width: auto
}
